In [1]:
import pandas as pd
import numpy as np

In [9]:
a = 100

In [10]:
# 2020  
a = a*(100 - 1.56)/100  # 8
a = a*(100 - 0.71)/100  # 9
a = a*(100 - 3.62)/100  # 10 
a = a*(100 + 26.69)/100 # 11
a = a*(100 + 3.53)/100  # 12
a

123.55848876786007

In [11]:
# 2021  
a = a*(100 + 6.79)/100  # 1
a = a*(100 + 0.21)/100  # 2
a = a*(100 + 8.56)/100  # 3 
a = a*(100 - 0.15)/100  # 4
a = a*(100 - 0.40)/100   # 5
a = a*(100 + 3.72)/100  # 6
a = a*(100 - 0.24)/100  # 7
a = a*(100 + 1.96)/100  # 8
a = a*(100 - 0.79)/100  # 9
a = a*(100 + 3.18)/100  # 10
a = a*(100 + 2.10)/100  # 11
a = a*(100 + 4.74)/100  # 12
a

164.8654069627003

In [12]:
# 2022
a = a*(100 - 0.89)/100  # 1
a = a*(100 - 2.05)/100  # 2
a = a*(100 + 3.81)/100  # 3
a = a*(100 - 5.07)/100  # 4
a = a*(100 + 0.93)/100  # 5
a = a*(100 - 9.19)/100  # 6
a = a*(100 + 5.90)/100  # 7
a = a*(100 - 3.28)/100  # 8
a = a*(100 - 9.04)/100  # 9
a = a*(100 + 4.15)/100  # 10
a = a*(100 - 3.57)/100  # 11
a = a*(100 - 14.27)/100  # 12
a

115.96182474610693

In [13]:
# 2023
a = a*(100 + 10.78)/100  # 1
a = a*(100 - 1.18)/100  # 2
a = a*(100 - 2.11)/100  # 3
a = a*(100 - 0.11)/100  # 4
a = a*(100 + 8.67)/100  # 5
a = a*(100 + 2.73)/100  # 6
a = a*(100 + 4.08)/100  # 7
a = a*(100 + 0.59)/100  # 8
a = a*(100 - 4.13)/100  # 9
# a = a*(100 + 4.15)/100  # 10
# a = a*(100 - 3.57)/100  # 11
# a = a*(100 - 14.27)/100  # 12
a

139.08918646443658

In [4]:
a

124.37720431017557

In [14]:
a = 100

In [15]:
# ETF Core SP500
# 2021  
a = a*(100 + 0.19)/100  # 1
a = a*(100 + 4.54)/100  # 2
a = a*(100 + 6.76)/100  # 3 
a = a*(100 + 2.37)/100  # 4
a = a*(100 - 1.15)/100   # 5
a = a*(100 + 5.69)/100  # 6
a = a*(100 + 2.54)/100  # 7
a = a*(100 + 3.54)/100  # 8
a = a*(100 - 2.42)/100  # 9
a = a*(100 + 6.39)/100  # 10
a = a*(100 + 1.66)/100  # 11
a = a*(100 + 4.45)/100  # 12
a

139.9652932557225

In [16]:
# 2022 
a = a*(100 - 5.49)/100  # 1
a = a*(100 - 3.62)/100  # 2
a = a*(100 + 7.79)/100  # 3 
a = a*(100 - 4.68)/100  # 4
a = a*(100 - 1.57)/100  # 5
a = a*(100 - 6.88)/100  # 6
a = a*(100 + 11.93)/100 # 7
a = a*(100 - 2.72)/100  # 8
a = a*(100 - 7.22)/100  # 9
a = a*(100 + 6.83)/100  # 10
a = a*(100 - 2.56)/100  # 11
a = a*(100 - 6.24)/100  # 12
a

118.38332611015339

In [17]:
# 2023 
a = a*(100 + 4.54)/100  # 1
a = a*(100 + 0.51)/100  # 2
a = a*(100 + 0.55)/100  # 3
a = a*(100 - 0.04)/100  # 4
a = a*(100 + 3.78)/100  # 5
a = a*(100 + 4.57)/100  # 6
a = a*(100 + 2.41)/100  # 7
a = a*(100 + 0.09)/100  # 8
a = a*(100 - 2.73)/100  # 9
a

135.27681656544786

In [18]:
a

135.27681656544786

In [2]:
cash = 8000
investing = 9500  

yearly_cash = 12000
half_investing = 8000

for i in range(1, 6):  # 5 years
    yearly_cash = yearly_cash * 1.02
    cash += yearly_cash
        
        
for j in range(1,11):  # 5 years - 6 months rebalancing
    half_investing = half_investing*1.01
    print(j, "th monthly investing: ", half_investing)
    
    investing = investing * (1.07) + half_investing 
    print(j,"th half: ", investing)

print("Cash: ", cash)
print("Stock: ", investing)

1 th monthly investing:  8080.0
1 th half:  18245.0
2 th monthly investing:  8160.8
2 th half:  27682.95
3 th monthly investing:  8242.408
3 th half:  37863.1645
4 th monthly investing:  8324.83208
4 th half:  48838.418095
5 th monthly investing:  8408.0804008
5 th half:  60665.187762450005
6 th monthly investing:  8492.161204807999
6 th half:  73403.9121106295
7 th monthly investing:  8577.082816856078
7 th half:  87119.26877522966
8 th monthly investing:  8662.85364502464
8 th half:  101880.47123452037
9 th monthly investing:  8749.482181474887
9 th half:  117761.58640241169
10 th monthly investing:  8836.977003289636
10 th half:  134841.87445387014
Cash:  71697.4515584
Stock:  134841.87445387014

In [17]:
TotalAsset = cash + investing
print(TotalAsset)

206539.32601227015

In [18]:
2300*12*5

138000

In [2]:
pro = 1/49
pro**6

7.224761580900886e-11

In [ ]:
a = a*(a - 0.71)

In [10]:
101 + 101*0.01 = 101(1 - 0.01)

102.01

In [ ]:
a + a*0.98

In [27]:
(1-0.0156)*100

98.44000000000001

In [29]:
house_index = 1

In [30]:
house_index = house_index * 1.014
house_index = house_index * 1.009
house_index = house_index * 1.011
house_index = house_index * 1.035
house_index = house_index * 1.035
house_index = house_index * 1.031
house_index = house_index * 1.031
house_index = house_index * 1.047
house_index = house_index * 1.075
house_index = house_index * 1.061
house_index = house_index * 1.067
house_index = house_index * 1.058
house_index = house_index * 1.078
house_index = house_index * 1.110

In [31]:
house_index

1.2331757862837616

In [28]:
house_index *0.8

1.5199547207520077

In [22]:
class First(object):
    def __init__(self):
        super(First, self).__init__()
        print("first")

class Second(object):
    def __init__(self):
        super(Second, self).__init__()
        print("second")

class Third(First, Second):
    def __init__(self):
        super(First, self).__init__()
        print("third")

In [23]:
first = First()

first

In [24]:
second = Second()

second

In [25]:
third = Third()

second
third